.progress{
  margin-bottom: 3%;
  height: 35px;
}

.controls{
  margin: 0 auto;
  text-align: center;
}

.custom-select{
  /* display: inline-block; */
  margin-right: 2%;
  width: 15%;
}

.btn{
  margin-right: 4%;
}